.csslist {
  grid-area: aside;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, minmax(24px, 1fr));
  padding-left: 1rem;
  background-color: var(--asidebg);
  color: var(--fgcolor);
  margin: 0;
}

.csslistitem {
  list-style-type: none;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.csslistitem > .inputlabel {
  display: block;
  text-align: left;
  padding: 0.5rem;
  width: 100%;
}

.csslistitem > .inputlabel:hover {
  background-color: #ddd;
}

.csslistitem > .inputcheckbox {
  display: none;
  float: right;
  margin: 0.75rem;
}

.csslistitem > .inputcheckbox:checked + label {
  background-color: var(--activebg);
  color: var(--activefg);
}
