.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 62px 1fr;
  grid-template-areas: 'head head head' 'left main right';
  grid-gap: 1rem;
}

.App-header {
  grid-area: head;
  background-color: var(--fgcolor);
  padding: 0.75rem 1rem;
  color: var(--bgcolor);
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'head head';
  align-items: center;
}

.App-menu {
  display: none;
}

.App-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0 0 0 0.5rem;
}

.App-main {
  grid-area: main;
  min-height: 100%;
  background-color: #fff;
  margin-top: -1rem;
  border-left: 1px solid var(--bordercolor);
  border-right: 1px solid var(--bordercolor);
}

.App-aside {
  grid-area: left;
  background-color: var(--asidebg);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3rem;
}

.stylecontainer > iframe {
  min-height: calc(100vh - 75px);
  width: 100%;
  max-width: 100vw;
}

.logo {
  fill: white;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-columns: 250px 1fr 0px;
    grid-template-areas: 'head head head' 'left main right';
    grid-gap: 0rem;
  }
  .App-header {
    padding: 0 1rem;
    grid-template-columns: 5rem auto 1fr;
    grid-template-areas: 'menu head head';
    position: sticky;
    top: 0;
  }
  .App-title {
    margin-top: 0.25rem;
  }
  .App-main {
    margin-top: 0rem;
    margin-left: -250px;
  }
  .App-menu {
    position: absolute;
    top: 0.75rem;
    left: 0rem;
    grid-area: menu;
    margin-right: 1rem;
    display: inline;
    z-index: 2000;
    background-color: rgba(36, 41, 46, 0.2);
    color: white;
    padding: 0.25rem 1rem;
  }
  .App-aside {
    transform: translateX(-100%);
    transition: transform 0.2s linear;
    will-change: transform;
    opacity: 0.95;
    position: sticky;
    top: 56;
  }
  .App-aside.is-active {
    transform: translateX(0);
    z-index: 200;
  }

  .logo {
    margin: 0.25rem 0 0 3rem;
  }
}
