.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 62px 1fr 56px;
  grid-template-areas: 'head head head' 'left main right' 'pages main right';
  grid-gap: 1rem;
}

.App-header {
  grid-area: head;
  background-color: var(--fgcolor);
  padding: 0.75rem 1rem;
  color: var(--bgcolor);
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'head head';
  align-items: center;
}

.App-menu {
  display: none;
}

.App-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  margin: 0 0 0 0.5rem;
}

.App-subtitle {
  color: var(--subtitlecolor);
  margin-top: -1rem;
  font-variant-caps: small-caps;
}

.App-main {
  grid-area: main;
  min-height: 100%;
  background-color: #fff;
  margin-top: -1rem;
  border-left: 1px solid var(--bordercolor);
  border-right: 1px solid var(--bordercolor);
}

.App-aside {
  grid-area: left;
  background-color: var(--asidebg);
}

.paginationwrapper {
  grid-area: pages;
  background-color: var(--asidebg);
}

.pagination {
  display: inline-flex;
  margin: auto;
  padding: 0 0 1.5rem 0;
}

.pagination li {
  list-style-type: none;
}

.pagination li a {
  color: black;
  float: left;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination li.active a {
  background-color: var(--activebg);
  color: var(--activefg);
}

.pagination li:hover:not(.active) a {
  background-color: #ddd;
}

.stylecontainer > iframe {
  height: calc(100vh - 75px);
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-columns: 250px 1fr 0px;
    grid-template-areas: 'head head head' 'left main right' 'pages main right';
    grid-gap: 0rem;
  }
  .App-header {
    padding: 0 1rem;
    grid-template-columns: auto auto 1fr;
    grid-template-areas: 'menu head head';
  }
  .App-subtitle {
    min-width: calc(100vw - 2rem);
  }
  .App-main {
    margin-top: 0rem;
    margin-left: -250px;
  }
  .App-menu {
    grid-area: menu;
    margin-right: 1rem;
    display: inline;
  }
  .App-aside {
    transform: translateX(-100%);
    transition: transform 0.2s linear;
    will-change: transform;
  }
  .App-aside.is-active {
    transform: translateX(0);
    z-index: 200;
  }
}

.logo {
  fill: white;
}
