.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas: 'head head head' 'left main right' 'pages main right';
  grid-gap: 0.5rem;
}

.App-header {
  grid-area: head;
  background-color: var(--fgcolor);
  border-top: 2px solid var(--activebg);
  padding: 0 2rem;
  color: var(--bgcolor);
  display: grid;
  grid-template-columns: auto 1fr 75px;
  grid-template-areas: 'brand links view';
}

.App-header__links {
  grid-area: links;
  align-self: flex-end;
  justify-self: center;
}

.App-header__links ul {
  list-style: none;
  margin-bottom: 0.9rem;
}

.App-header__links li {
  display: inline;
  margin: 0.75rem;
}

.App-title {
  margin-top: 0.25rem;
}

.App-subtitle {
  color: var(--subtitlecolor);
  margin-top: -1rem;
  font-variant-caps: small-caps;
}

.App-main {
  grid-area: main;
  min-height: 100%;
  background-color: #fff;
}

.App-aside {
  grid-area: left;
  background-color: var(--asidebg);
}

.paginationwrapper {
  grid-area: pages;
  background-color: var(--asidebg);
}

.pagination {
  display: inline-flex;
  margin: auto;
  padding: 0 0 1.5rem 0;
}

.pagination li {
  list-style-type: none;
}

.pagination li a {
  color: black;
  float: left;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination li.active a {
  background-color: var(--activebg);
  color: var(--activefg);
}

.pagination li:hover:not(.active) a {
  background-color: #ddd;
}

.stylecontainer > iframe {
  height: calc(100vh - 75px);
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-columns: 0px 1fr 0px;
    grid-gap: 0rem;
  }
  .App-header {
    padding: 0 1rem;
    text-align: center;
  }
  .App-subtitle {
    min-width: calc(100vw - 2rem);
  }
}
