:root {
  --bgcolor: #f4f7f6;
  --fgcolor: #222;

  --asidebg: #f4f7f6;
  --subtitlecolor: #888;

  --activebg: #8ff243;
  --activefg: #222;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background-color: var(--bgcolor);
}
